.login_main{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.l_head{
    width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
}
.l_head .logo{
    width: 196px;
    height: 60px;
}
.l_box{
    width:100%;
    height:690px;
    background: url(img/bg_login.png) no-repeat center center;
}
.l_box .l_form{
    width: 1200px;
    margin: 0 auto;
}
.l_box .l_form_main{
    float: right;
    width: 520px;
    min-height: 400px;
    margin-top:120px;
    background-color: #fff;
    border-radius: 4px;
    padding:56px 66px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l_box .l_form_ul{
    width: 100%;
    height:50px;
    border-bottom: 1px solid #f2f2f2;
}
.l_box .l_form_ul li{
    float: left;
    line-height:50px;
    font-size: 16px;
    color: #999;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.l_box .l_form_ul li.on{
    font-weight: bold;
    color: #0f2a3d;
    border-bottom: 1px solid #f0c420;
}
.l_box .l_form_list{
    /*padding: 0 30px;*/
}
.l_box .l_t{
    height: 40px;
    overflow: hidden;
}
.l_box .l_tips{
    /* display: none; */
    float: left;
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin-top: 7px;
    padding-left: 30px;
    font-size: 12px;
    color: #fa676a;
    background: rgba(253, 209, 210) url(img/ico_error.png) no-repeat center left 10px;
}
.l_box .l_form_same{
    position: relative;
    width: 386px;
    height: 46px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    border: solid 1px #e7e7e7;
}
.l_box .l_form_yzm{
    width: 258px;
    float: left;
}
.l_box .l_form_pass{
    /*margin-bottom: 40px;*/
}
.l_box .l_form_same .l_tit{
    width: 50px;
    height: 100%;
    background: url(img/ico_name.png) no-repeat center center;
}
.l_box .l_form_pass .l_tit{
    background:url(img/ico_pass.png) no-repeat center center;
}
.l_box .l_form_same .l_inp{
    width: 65%;
    border: none;
    outline: none;
    height: 100%;
}
.l_box .l_close{
    display: none;
    width: 40px;
    height: 100%;
    background: url(img/ico_close.png) no-repeat center center;
    cursor: pointer;
}
.l_box .l_btn{
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 55px;
    background-color: #fbcb07;
    border-radius: 40px;
}
.l_box .l_form_msg{
    padding: 0 15px;
    padding-bottom:20px;
}
.l_box .l_form_msg .l_left{
    font-size: 14px;
    color: #0f2a3d;
}
.l_box .l_form_msg .l_right{
    font-size: 14px;
    color: #999;
}
/*记住密码*/
/*.l_box .l_form_msg input{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px #e7e7e7;
    display: block!important;
    background-color: #fff;
}*/
.l_form_zc{
    font-size: 14px;
    line-height: 50px;
}
.l_form_zc a{
    color: #0f2a3d;

}
.l_bottom{
    line-height: 30px;
    text-align: center;
    color: #666!important;
}
.f-copys p {
    color: #999;
    font-size: 14px;
}
.f-flink-wrapper .flinks a {
    padding: 0 9px;
    color: #999;
}
.l_box .l_form_nextName .l_tit{
    background: url(img/ico_mob.png) no-repeat center center;
}

.l_box .l_form_yzm .l_tit{
    background:  url(img/ico_yzm.png) no-repeat center center;
}

.l_box .l_form_safe .l_tit{
    background: url(img/ico_pass.png) no-repeat center center;
}
.l_box .l_form_yzm .l_inp,.l_box .l_form_safe .l_inp{
    width: 50%;
}
.l_box .l_form_yzm .l_close{
    position: absolute;
    right: 90px;
}
.l_box .l_form_safe .l_close{
    position: absolute;
    right: 68px;
}
.l_box .l_send {
    border: none;
    outline: none;
    width: 120px;
    height: 100%;
    height: 46px;
    line-height: 50px;
    text-align: center;
    color: #f0c420;
    background: url(img/bg_login_line.png) no-repeat center left;
    cursor: pointer;
    border-radius: 23px;
    border: solid 1px #fbcb07;
}
.l_box .l_form_next{
    /*padding-bottom: 20px;*/
}
.f-flink-wrapper {
    overflow: hidden;
    margin-top: 45px!important;
}
.f-flink-wrapper .flinks a:hover {
    color: #0F2A3D;
}

/*找回密码*/
.l_reg{
    width: 100%;
    min-height:auto;
    background-color: #f2f2f2;
}
.l_title{
    line-height: 50px;
    font-size: 18px;
    color: #0f2a3d;
    margin-bottom:40px;
}
.l_reg .l_reg_main{
    width: 1000px;
    margin: 0 auto;
    padding:50px 0 10px;
    background-color: #fff;
    margin-top: 60px;
}
.l_reg .l_reg_con{
    width: 480px;
    margin:0 auto;
}

.l_reg .l_reg_ul li{
    position: relative;
    float: left;
    width: 160px;
    height: 4px;
    background-color: #e5e5e5;
}
.l_reg .l_reg_ul .num{
    position: absolute;
    left: 70px;
    top: -11px;
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    padding: 3px;
    color: #fff;
    border: 1px #e5e5e5 solid;
}
.l_reg .l_reg_ul .num p{
    background: #e5e5e5;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: block;
}
.l_reg .l_reg_ul .txt{
    margin-top: 30px;
    text-align: center;
    color: #999;
}
.l_reg .l_reg_ul li.on,.l_reg .l_reg_ul li.on .num p{
    background-color: #FBCB07;
}
.l_reg .l_reg_ul li.on .num{
    border: 1px #FBCB07 solid;
 }
.l_reg .l_reg_ul li.on .txt{
    color: #FBCB07;
}

.l_reg_list .l_form_sj{
    position: relative;
    width: 386px;
    height: 46px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 40px;
    border: solid 1px #e7e7e7;
}
.l_wrapper .l_form_sj .l_tit {
    width: 50px;
    height: 100%;
    background: url(img/ico_mob.png) no-repeat center center;
}
.l_wrapper .l_inp,.l_wrapper .l_inp2,.l_wrapper .l_inp3{
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 100%;
    width: 330px;
}
.l_wrapper input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #ccc;
}
.l_wrapper .l_inp2{
    width: 200px;
}
.l_wrapper .l_inp3{
    width: 250px;
}
.l_wrapper .l_form_yzm{
	height: 46px;
    width: 258px;
    float: left;
	background-color: #fff;
    position: relative;
    box-sizing: border-box;
    border-radius: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    border: solid 1px #e7e7e7;
}
.l_wrapper .l_form_yzm .l_tit {
    width: 50px;
    height: 100%;
    background: url(img/ico_pass.png) no-repeat center center;
}
.l_wrapper .l_reg_first .l_btn{
    outline: none;
    border:none;
    width: 120px;
    height: 46px;
    line-height: 46px;
    text-align: center;
	background-color:#fff;
    border-radius: 40px;
    color: #f0c420;
    margin-left:8px;
    border: solid 1px #fbcb07;
}

.l_wrapper .l_reg_first .l_desc{
    margin-left: 80px;
}

.l_wrapper .l_desc a{
    color: #0076e5;
}

.l_wrapper .l_next {
    outline: none;
    border: none;
    width: 376px;
    height: 46px;
    background-color: #FBCB07;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    margin-top: 30px;

}
.l_reg_list .l_form_mm{
    position: relative;
    width: 386px;
    height: 46px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 40px;
    border: solid 1px #e7e7e7;
}
.l_wrapper .l_form_mm .l_tit {
    width: 50px;
    height: 100%;
    background: url(img/ico_pass.png) no-repeat center center;
}
.l_wrapper .l_reg_succ{
    margin: 0 auto;
    text-align: center;
}
.l_wrapper .l_p1{
    margin: 30px 0 20px;
}
.l_wrapper .l_p1 img{
    width: 80px;
    height: 80px;
}
.l_wrapper .l_p2{
    margin-bottom: 10px;
    font-size: 18px;
    color: #0f2a3d;
}
.l_wrapper .l_p3{
    font-size: 16px;
    color: #666;
}
.l_wrapper .l_p3 a{
    color: #0076e5;
}
.l_wrapper .l_p4{
    font-size: 16px;
    color: #FBCB07;
}
.l_wrapper .l_p5 a{
    display: inline-block;
    width: 228px;
    height: 55px;
    line-height:55px;
    margin:30px auto;
    text-align: center;
	border-radius: 40px;
    box-sizing: border-box;
    font-size: 18px;
}

.l_wrapper .l_p5 .l_p_enter{
    background-color: #fbcb07;
    color: #fff;
}


/* .password-wrapper{
    width: 490px;
    margin: 0 auto;
    overflow: hidden;
}

.password-container{
    width: 1470px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} */


.step2-transition{
    -webkit-transform: translate(-386px, 0);
    -moz-transform: translate(-386px, 0);
    -ms-transform: translate(-386px, 0);
    -o-transform: translate(-386px, 0);
    transform: translate(-386px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.step3-transition{
    -webkit-transform: translate(-772px, 0);
    -moz-transform: translate(-772px, 0);
    -ms-transform: translate(-772px, 0);
    -o-transform: translate(-772px, 0);
    transform: translate(-772px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.password-step{
    float: left;
    width: 490px;
}

.l_wrapper{
    width: 386px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.l_wrapper .l_reg_first li{
    margin-bottom:20px;
    overflow: hidden;
}
.l_wrapper .redstar{
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: #e50016;
}
.l_wrapper_container{
    width: 1440px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}

.l_reg .l_reg_list{
    float: left;
    width: 386px;
}