.qh-main{
    width: 1200px;
    margin: 30px auto 60px;
    overflow: hidden;
}
.required-dot{
    line-height: 34px;
    font-size: 16px;
    color: #ff6666;
}
.req-dot{
    color: #ff6666;
}
.qh-tip{
    font-size: 12px;
    color: #999;
}

.layui-form-item{
    margin-bottom: 10px;
}
/* right-wrapper */
.right-wrapper{
    width: 954px;
    min-height: 1000px;
    background-color: #fff;
}

.title-wrapper{
    line-height: 77px;
    border-bottom: 1px solid #e8edee;
    text-indent: 38px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.right-fluid{
    padding: 40px;
}
#setting-form .layui-btn{
    margin-left: 0;
}

.step-wrapper{
    position: relative;
    width: 100%;
    margin: 30px 0 90px;
}
.step-bar{
    position: relative;
    width: 620px;
    height: 3px;
    margin: 0 auto;
    background-color: #eee;
    z-index: 10;
}
.step-process{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 3px;
    background-color: #6396f6;
    z-index: 11;
}
.process1-transition{
    width: 50%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.process2-transition{
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.step-info{
    position: absolute;
    top: -19px;
    width: 100%;
    overflow: hidden;
    z-index: 12;
}
.step-item{
    float: left;
    width: 291px;
}
.step-item .num{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 0 auto;
    background-color: #fff;
}
.step-item .num span{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background-color: #ccc;
    font-size: 12px;
    color: #fff;
}
.step-item .txt{
    text-align: center;
    color: #555;
}

.step-finish .num span{
    background-color: #6396f6;
}
.step-finish .txt{
    color: #6396f6;
}

.password-wrapper{
    width: 490px;
    margin: 0 auto;
    overflow: hidden;
}

.password-container{
    width: 1470px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.step2-transition{
    -webkit-transform: translate(-490px, 0);
    -moz-transform: translate(-490px, 0);
    -ms-transform: translate(-490px, 0);
    -o-transform: translate(-490px, 0);
    transform: translate(-490px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.step3-transition{
    -webkit-transform: translate(-980px, 0);
    -moz-transform: translate(-980px, 0);
    -ms-transform: translate(-980px, 0);
    -o-transform: translate(-980px, 0);
    transform: translate(-980px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.password-step{
    float: left;
    width: 490px;
}

.qh-form-item{
    line-height: 34px;
}
.qh-form-item a{
    color: #6396f6;
}

.get-yzm{
    height: 34px;
    padding: 0 20px;
    background: #6396f6;
    color: #fff;
    border: none;
    border-radius: 2px !important;
}
input.get-yzm:disabled{
    background-color: #6396f6;
}

.success-wrapper{
    width: 242px;
    padding: 90px 0 0;
    margin: 0 auto;
    background: url(img/success-icon.png) no-repeat center 40px;
}
.success-wrapper .txt{
    padding: 10px 0 40px;
    text-align: center;
    font-size: 18px;
    color: #555;
}
.success-wrapper .login-btn{
    width: 100%;
    height: 42px !important;
    line-height: 42px !important;
    border-radius: 6px;
}

/* 开通店铺 */
.notice-wrapper{
    padding: 10px 18px;
    margin-top: -20px;
    margin-bottom: 30px;
    border: 1px solid #b8d1ff;
    background-color: #fafcff;
}
.notice-wrapper h2{
    color: #555;
}
.notice-wrapper h2 span{
    color: #6396f6;
    padding-left: 10px;
}
.notice-wrapper .txt{
    color: #999;
}

.qh-form-label{
    width: 130px;
    padding-right: 20px;
}

.upload-img-wrapper{
    position: relative;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: #fff;
}
.upload-img-wrapper .pic{
    width: 100%;
    height: 120px;
}
.upload-btn{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}
.upload-btn i{
    font-size: 30px;
    color: #ccc;
}
.upload-btn:hover i{
    color: #6396f6;
}

.tips-wrapper{
    padding-top: 30px;
    font-size: 12px;
}
.tips-wrapper h3{
    line-height: 34px;
    color: #666;
}
.tips-wrapper .required-dot{
    float: left;
}
.tips-wrapper .tip{
    padding-left: 4px;
}
.tips-wrapper p{
    padding-left: 12px;
    color: #999;
}

/* 订单列表 */
.order-fluid{
    padding: 10px 30px;
}
.order-fluid .layui-tab-title{
    height: 32px;
}
.order-fluid .layui-tab-title li{
    min-width: auto;
    line-height: 32px;
    color: #999;
}
.order-fluid .layui-tab-title li.layui-this{
    background-color: #6396f6;
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.order-fluid .layui-tab-title .layui-this:after{
    height: 33px;
}
.order-fluid .layui-tab-content{
    padding: 30px 0;
}

/* 充值中心 */
.qh-form-item1, .qh-panel-item{
    font-size: 16px;
}
.qh-form-item1 .required-dot{
    font-size: 12px;
}
.qh-form-item1 input{
    font-size: 14px;
}

.qh-panel-item .price{
    height: 34px;
    line-height: 34px;
}
.qh-panel-item .price strong{
    font-size: 24px;
    color: #ff6666;
    font-weight: normal;
    padding-right: 10px;
}

.pay-fluid .layui-form-item{
    margin-bottom: 28px;
}

.notice-kp .txt{
    color: #666;
}
.notice-kp .txt span{
    float: left;
    height: 40px;
    color: #333;
}

.kp-fluid{
    padding: 30px 40px;
}

/* 店铺收藏 */
.shop-fluid{
    padding: 30px 36px;
}

.shop-list ul{
    margin-left: -20px;
    overflow: hidden;
}
.shop-list li{
    position: relative;
    float: left;
    width: 280px;
    height: 260px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li:hover{
    box-shadow: 0 0 8px 4px #e2edfd;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li .del-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: url(img/delete-icons.png) no-repeat left center;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li .del-icon:hover{
    background: url(img/delete-icons.png) no-repeat right center;
}
.shop-list li:hover .del-icon{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.shop-list li .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 260px;
    background: url(img/shop-list-bg.png) no-repeat;
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li:hover .bg{
    opacity: 1;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li .container{
    position: absolute;
    left: 0;
    top: 0;
    width: 242px;
    height: 222px;
    padding: 18px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li:hover .container{
    border: 1px solid #f5f5f9;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list li .city{
    position: absolute;
    right: -1px;
    top: 9px;
    padding: 0 10px;
    line-height: 20px;
    background-color: #ff6666;
    border-radius: 0 0 0 10px;
    font-size: 12px;
    color: #fff;
}
.shop-list .title{
    overflow: hidden;
    margin-bottom: 10px;
}
.shop-list .title img{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}
.shop-list .title p{
    padding: 15px 0;
    line-height: 20px;
}
.shop-list p.txt{
    line-height: 20px;
    font-size: 12px;
    padding: 2px 0;
    color: #666;
}
.shop-list p.txt .tit{
    color: #999;
}
.shop-list p.txt strong{
    color: #ff734e;
}
.shop-list .bottom{
    margin-top: 40px;
}
.shop-list .bottom a{
    display: block;
    width: 98px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #0052d9;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: #0052d9;
    background-color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list .bottom a:hover{
    background-color: #0052d9;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.shop-list .bottom .layui-icon{
    color: #ff734e;
    font-size: 14px;
}

.shop-list .bottom .stars {
    display: block;
    width: 80px;
    height: 30px;
}

/* 服务收藏 */
.service-fluid{
    padding: 30px;
}


.service-list ul{
    margin-left: -18px;
    overflow: hidden;
}
.service-list li{
    position: relative;
    float: left;
    width: 202px;
    height: 252px;
    padding: 3px;
    border: 1px solid #eee;
    margin-left: 18px;
    margin-bottom: 18px;
    overflow: hidden;
}

.service-list li .del-icon{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 24px;
    height: 24px;
    border: none;
    background: url(img/delete-icons.png) no-repeat left center;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.service-list li .del-icon:hover{
    background: url(img/delete-icons.png) no-repeat right center;
}
.service-list li:hover .del-icon{
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.service-top{
    width: 178px;
    height: 166px;
    padding: 20px 12px 0;
    background: url(img/service-list-bg.jpg) no-repeat;
    color: #fff;
}
.service-top h2{
    padding: 10px 0;
    line-height: 28px;
    font-size: 20px;
}
.service-top p{
    font-size: 12px;
}

.service-center{
    padding: 0 2px;
    line-height: 34px;
    overflow: hidden;
    margin-top: 4px;
}
.service-center strong{
    color: #ff6666;
}
.service-center span{
    color: #999;
    font-size: 12px;
}
.service-list li .desc{
    padding: 0 4px;
    font-size: 12px;
    color: #999;
}

/* 帮助列表 */
.help-fluid{
    padding: 30px;
}
.help-list-item{
    overflow: hidden;
    padding: 10px 10px 10px 0;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.help-list-item:last-child{
    border-bottom: none;
}

.help-list-item .title{
    float: left;
    width: 80px;
    text-align: right;
    font-weight: bold;
}
.help-list-item .text{
    float: left;
    width: 592px;
    line-height: 34px;
}
.help-list-item .text a{
    color: #6396f6;
}

.wangedit .toolbar {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-bottom: none;
}
.wangedit .textarea {
    border: 1px solid #e6e6e6;
    height: 200px;
}
.wangedit .text{
    overflow-y: auto;
    max-height: 350px;
}
.wangedit .text img{
    max-width: 100%;
}
.wangedit .text a{
    color:#0B9EF6;
}

.m-height1221{
    min-height: 1221px;
}

.tab-rz{
    margin: 0;
}
.tab-rz .layui-tab-title{
    text-align: center;
}
.tab-rz .layui-tab-content {
    padding: 30px 0 0;
}
.tab-rz .layui-tab-title li{
    min-width: 120px;
}
.tab-rz .layui-tab-title li.layui-this{
    color: #6396f6;
}

.fold-btn{
    padding: 0 12px;
}
.fold-btn .layui-icon{
    margin: 0 0 0 5px;
    vertical-align: top;
    font-size: 12px;
}

.fold-container{
    display: none;
}

.fold-container-block{
    display: block;
}

.qh-sjxx{
    width: 100%;
    margin-top: -12px;
}

.sjxx-container{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}

.latest-sjxx-container{
    border-bottom: none;
}

.sjxx-item{
    float: left;
    width: 33%;
    overflow: hidden;
    line-height: 32px;
}
.sjxx-item .title{
    float: left;
    width: 94px;
    text-align: right;
    font-weight: bold;
}
.sjxx-item .text{
    float: right;
    width: 174px;
}

.latest-sjxx-container .sjxx-item{
    width: 100%;
}
.latest-sjxx-container .text{
    width: 736px;
}

.progress-container{
    width: 700px;
    height: 70px;
    margin: 10px auto 0;
}

.progress-icon, .progress-line{
    float: left;
}

.progress-icon{
    width: 60px;
    line-height: 30px;
    text-align: center;
}
.progress-icon i{
    display: block;
    font-size: 30px;
    color: #999;
}
.progress-icon i.layui-icon-radio{
    color: #2d8cf0;
}

.progress-line{
    width: 100px;
    height: 1px;
    background-color: #eee;
    margin-top: 16px;
}
.follow-form-container{
    margin-top: 20px;
}

.bindsj p{
    text-align: center;
}
.bindsj p strong{
    font-weight: bold;
    color: #ff0000;
    font-size: 16px;
}

.min-h1071{
    min-height: 1071px;
}

.ticket-explain{
    padding: 0 20px;
}
.ticket-explain p{
    font-size: 13px;
    padding: 10px 0;
    color: #999;
}
.ticket-apply-form{
    width: 80%;
    margin: 20px 0;
}
.wx-login{
    width: 200px;
    margin: 20px 90px;
}
.wx-login img{
    width: 100%;
}
.modpass-form{
    width: 400px;
    margin: 20px 0;
}

.qyrz-fluid{
    width: 500px;
    margin: 0 auto;
}

.qyrz-fluid img{
    width: 300px;
}

.layui-form-select dl{
    z-index: 10002;
}

.dpsz-fluid .layui-form-item{
    margin-bottom: 20px;
}

.dpsz-fluid .add-btn{
    height: 34px;
    line-height: 34px !important;
    padding: 0 10px;
    color: #6396f6;
}
.dpsz-fluid .add-btn i{
    margin-right: 4px;
    font-weight: bold;
}

#fwlb-box{
    width: 100%;
    min-height: 0;
    overflow: hidden;
}
#fwlb-box .item{
    float: left;
    display: block;
    line-height: 32px;
    padding: 0 10px;
    background-color:#f2f6fa;
    margin: 10px 10px 0 0;
    font-size: 12px;
}
#fwlb-box .item i{
    margin-left: 6px;
    vertical-align: top;
    color: #999;
    cursor: pointer;
}

.dpxx-fluid p.infor{
    padding: 7px 10px;
}